{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <section class="profil">

        <div>
            <h4>{{ Utilisateur.getUtilisateurPseudo }}</h4>
            <h4>{{ Utilisateur.getUtilisateurEmail }}</h4>
            <img src="{{ asset('media/') }}{{ Utilisateur.getAvatar }}">
        </div>
    </section>
{% endblock %}
