{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <section class="profil">

        <div class="profil_detail">
            <img src="{{ asset('media/profil.png') }}" alt="" class="profil_image">
        </div>
        <div>
            <h4>{{ Utilisateur.getUtilisateurPseudo() }}</h4>
            <h4>{{ Utilisateur.getUtilisateurEmail }}</h4>
        </div>
    </section>
{% endblock %}
