{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="index">
        <h1>Bienvenue sur DualGuessr !</h1>
        <img src="{{ asset('images/indexPic.png') }}" alt="#">
        <p>Laissez libre cours à votre imagination dans les associations de mots les plus folles ! <br />
            Un principe simple, un jeu stimulant et des heures de plaisir à mémoriser ! C'est ça Codenames - un party game rapide qui divertira à coup sûr tout le groupe, qu'il s'agisse de familles, d'amis ou de parfaits inconnus.</p>

        <p>Deux maîtres espions rivaux connaissent les identités secrètes de 25 agents. Leurs coéquipiers ne connaissent les agents que par leur nom de code. Pour gagner le jeu, votre équipe devra contacter tous vos agents sur le terrain avant que l'autre équipe ne trouve ses propres agents. Et attention à l'assassin : rencontrez-le sur le terrain et votre équipe est finie !</p>

        <p>Codenames est simple à expliquer et facile à comprendre, sans limite de taille d'équipe - vous pouvez jouer à quatre comme à douze !</p>
    </div>
{% endblock %}