@font-face {
    font-family: 'Turner';
    src: url('../fonts/Turner New.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../fonts/SF Pro Rounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded Bold';
    src: url('../fonts/SF Pro Rounded Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}