@import "_color.scss";
@import "_mixin.scss";

//Bouton haut

.iconBtn{
    display: flex;
    justify-content: center;
    .iconBtn-fg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 187px;
        height: 60px;
    }
}

//Bouton CTA

.navbar-content-lower{
    .account-language-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .policy-links-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}