/*-----Couleurs-----*/

/*--Primaire--*/
$primary-100: #D5E0F8;
$primary-200: #ACC1F0;
$primary-300: #82A3E9;
$primary-400: #5984E1;
$primary-500: #2F65DA;
$primary-600: #2651AE;
$primary-700: #1C3D83;
$primary-800: #112857;
$primary-900: #09142C;

/*--Secondaire--*/
$secondary-100: #FFD9CC;
$secondary-200: #FFB399;
$secondary-300: #FF8C66;
$secondary-400: #FF6633;
$secondary-500: #FF4000;
$secondary-600: #CC3300;
$secondary-700: #992600;
$secondary-800: #661A00;
$secondary-900: #330D00;

/*--Gris--*/
$grey-100: #BAAFAB;
$grey-200: #AC9E9A;
$grey-300: #9D8E89;
$grey-400: #8F7D78;
$grey-500: #806D67;
$grey-600: #6E5E59;
$grey-700: #5D4F4B;
$grey-800: #4B403D;
$grey-900: #3A312F;

/*--Feedback--*/
$success: #00C75B;
$error: #C70000;
$warning: #C79B00;

/*--Neutre--*/
$black: #1D1D1D;
$white: #FAFAFA;

/*--Couleurs additionelles--*/
$beige: #F4E7B9;
$green: #009D48;