@mixin h1 {
  font-family: 'Turner', sans-serif;
  font-size: 48px;
  line-height: 72px;
}

@mixin h2 {
  font-family: 'Turner', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

@mixin h3 {
  font-family: 'Turner', sans-serif;
  font-size: 32px;
  line-height: 48px;
}

@mixin h4 {
  font-family: 'Turner', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

@mixin p {
  font-family: 'SF Pro Rounded', sans-serif;
  font-size: 14px;
  line-height: 21px;
}

@mixin p-bold {
  font-family: 'SF Pro Rounded Bold', sans-serif;
  font-size: 16px;
  line-height: 21px;
}