@import '_color.scss';
@import '_bouton.scss';
@import '_link.scss';
@import '_mixin.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    left: 300px;
    background-color: $primary-900;
}
// CSS de la navbar globale

.navbar{
    width: 300px;
    height: 100vh;
    background-color: $primary-800;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    // Positionnement et taille de la navbar

    .navbar-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
    }
    .material-symbols-rounded img {
        height: 24px;
        fill: white;
    }
}

//CSS du contenu global

main{
    width: calc(100vw - 300px);
    color: white;
    padding: 70px;
}

a{
 text-decoration: none;
 color: black;
}    

//CSS de la page index

.index{
    display: flex;
    flex-direction: column;
    h1{
        @include h1;
    }
    img{
        width: 670px;
        height: 263px;
        margin: 0 auto;
        margin: 42px;
    }
    p{
        @include p;
        margin: 10px;
    }
}

//CSS de la page rules

.rules{
    display: flex;
    flex-direction: column;
    h1{
        @include h1;
    }
    .rulesContent{
        width: 672px;
        margin : 0 auto;
        #rulesTittle{
            @include h2;
            text-align: center;
        }
        #rulesImg{
            display: flex;
            .rulesArrow{
                display: flex;
                justify-content: center;
            }
            #rulesLeft{
                transform: rotate(180deg);
            }
        }
        #rulesContent{
            p{
                @include p;
            }
        }
    }
}

//CSS form

.register{
    h1{
        @include h1;
    }
    form{
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            flex-direction: column;
            input{
                background-color: #303245;
                border-radius: 12px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                font-size: 18px;
                height: 100%;
                outline: 0;
                padding: 4px 20px 0;
                width: 100%;
            }
            label{
                @include p;
            }
        }
        button{
            background-color: #08d;
            border-radius: 12px;
            border: 0;
            box-sizing: border-box;
            color: #eee;
            cursor: pointer;
            font-size: 18px;
            height: 50px;
            margin-top: 38px;
            // outline: 0;
            text-align: center;
            width: 100%;
        }
    }
}

//CSS de la page login

.login{
    form {
        display: flex;
        flex-direction: column;
        input{
            background-color: #303245;
            border-radius: 12px;
            border: 0;
            box-sizing: border-box;
            color: #eee;
            font-size: 18px;
            height: 100%;
            outline: 0;
            padding: 4px 20px 0;
            width: 100%;
        }
        label{
            @include p;
        }
    }
    button{
        background-color: #08d;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin-top: 38px;
        // outline: 0;
        text-align: center;
        width: 100%;
    }
}
