@import '_color.scss';
@import '_bouton.scss';
@import '_link.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    left: 300px;
    background-color: $primary-900;
}
// CSS de la navbar globale

.navbar{
    width: 300px;
    height: 100vh;
    background-color: $primary-800;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    // Positionnement et taille de la navbar

    .navbar-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
    }
}

//CSS du contenu global

main{
    width: calc(100vw - 300px);
    color: white;
    padding: 70px;
}

//CSS de la page index

.index{
    display: flex;
    flex-direction: column;
    h1{
        @include h1;
    }
    img{
        width: 670px;
        height: 263px;
        margin: 0 auto;
        margin: 42px;
    }
    p{
        @include p;
        margin: 10px;
    }
}