{% extends 'base.html.twig' %}

{% block title %}Hello RulesController!{% endblock %}

{% block body %}
    <h1>Règles</h1>
    <div>
        <div id="rulesLeft"><img src="{{ asset('images/RulesArrow.svg') }}" alt="Arrow Left"></div>
        <div id="rulesTittle"></div>
        <div id="rulesImage"></div>
        <div id="rulesContent"></div>
        <div id="rulesRight"><img src="{{ asset('images/RulesArrow.svg') }}" alt="Arrow Right"></div>
    </div>
{% endblock %}
