{% extends 'base.html.twig' %}

{% block title %}Règles du jeu{% endblock %}

{% block body %}
    <div class="rules">
        <div id="language" style="visibility: hidden" >EN</div>
        <h1>Règles</h1>
        <div class="rulesContent">
            <div id="rulesTittle"></div>
            <div id="rulesImg">
                <div id="rulesLeft" class="rulesArrow"><img src="{{ asset('images/RulesArrow.svg') }}" alt="Arrow
                Left"></div>
                <div id="rulesImage"></div>
                <div id="rulesRight" class="rulesArrow"><img src="{{ asset('images/RulesArrow.svg') }}" alt="Arrow Right"></div>
            </div>
            <div id="rulesContent"></div>

        </div>
    </div>
{% endblock %}
