<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        <script src="{{ asset('js/rules.js') }}"></script>
    </head>
    <body>
        <header>
            <div class="navbar">
                <img src="{{ asset('images/nav/logo.svg') }}" alt="">
                <div class="navbar-content">
                    <div class="navbar-content-upper">
                        <div class="iconBtn">
                            <div class="iconBtn-fg">
                                <span class="material-symbols-rounded"></span>Accueil
                            </div>
                            <div class="iconBtn-bg"></div>
                        </div>
{#                        <router-link to="HomeView"><icon_btn text="Accueil" icon="home"/></router-link>#}
                        <div class="iconBtn">
                            <div class="iconBtn-fg">
                                <span class="material-symbols-rounded"></span>Accueil
                            </div>
                            <div class="iconBtn-bg"></div>
                        </div>
{#                        <router-link to="HomeView"><icon_btn text="Comment jouer ?" icon="temp_preferences_custom"/></router-link>#}
                        <div class="iconBtn">
                            <div class="iconBtn-fg">
                                <span class="material-symbols-rounded"></span>Accueil
                            </div>
                            <div class="iconBtn-bg"></div>
                        </div>
{#                        <router-link to="HomeView"><icon_btn text="Parties jouées" icon="history"/></router-link>#}
                        <div class="iconBtn">
                            <div class="iconBtn-fg">
                                <span class="material-symbols-rounded"></span>Accueil
                            </div>
                            <div class="iconBtn-bg"></div>
                        </div>
{#                        <router-link to="HomeView"><icon_btn text="Statistiques" icon="monitoring"/></router-link>#}
                    </div>
                    <div class="navbar-content-lower">
                        <div class="account-language-container">
                            <div class="iconCta">
                                <span class="material-symbols-rounded">www</span>
                            </div>
{#                            <router-link to=""><Icon_cta icon="person"/></router-link>#}
                            <div class="iconCta">
                                <span class="material-symbols-rounded">Profile</span>
                            </div>
{#                            <router-link to=""><Icon_cta icon="language"/></router-link>#}
                        </div>
                        <a href="#">Jouer</a>
{#                        <router-link to="HomeView"><icon_btn text="Jouer" icon="play_arrow"/></router-link>#}
                        <div class="policy-links-container">
                            <span class="link">Condition d'utilisation</span>
{#                            <router-link to="HomeView"><Link text="Conditions d'utilisations"/></router-link>#}
                            <span class="link">Confidentialité</span>
{#                            <router-link to="HomeView"><Link text="Confidentialité"/></router-link>#}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
